<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <h1><%= title %></h1>

      <div id="todolist">
        <ng-view></ng-view>
      </div>

      <!-- Template - List Display -->
        <script type="text/ng-template" id="/todos.html">
          <div class="newtask">
            New task <input type="text" ng-model="newTodo"><button ng-click="save()"><i class="material-icons md-34">add</i></button>
          </div>
          <ul class="todo-ul">
            <li ng-repeat="todo in todos | filter: search">
              <input type="checkbox" ng-model="todo.completed" ng-change="update($index)">
              <a ng-show="!editing[$index]" href="#/{{todo._id}}">{{todo.name}}</a>
              <button ng-show="!editing[$index]" ng-click="edit($index)"><i class="material-icons md-24">edit</i></button>
              <button ng-show="!editing[$index]" ng-click="remove($index)"><i class="material-icons md-24">delete</i></button>

              <input ng-show="editing[$index]" type="text" ng-model="todo.name">
              <button ng-show="editing[$index]" ng-click="update($index)"><i class="material-icons md-18">done</i></button>
              <button ng-show="editing[$index]" ng-click="cancel($index)"><i class="material-icons md-18">clear</i></button>
            </li>
          </ul>
          <div class="search">
            Search: <input type="text" ng-model="search.name">
          </div>

        </script>



      <!-- Template - Todo Details -->
      <script type="text/ng-template" id="/todoDetails.html">
        <div id="todo-details">
          <h2>{{ todo.name }}</h2>

          completed: <input type="checkbox" ng-model="todo.completed">

          <div class="detail-note">
            note:<br> <textarea ng-model="todo.note"></textarea>
          </div>

          <div class="detail-buttons">
            <button ng-click="update()"><i class="material-icons md-36">done</i></button>
            <button ng-click="remove()"><i class="material-icons md-36">delete</i></button>
            <a href="/" class="detail-cancel">Cancel</a>
          </div>

        </div>
      </script>

    </div>
    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <script src="/javascripts/angular.js"></script>
  </body>
</html>
